.text-modal {
    width: 400px;
    padding: 25px;
    background-color: var(--white);
    line-height: 25px;
    text-align: justify;
  }
  
  .text-modal-close-btn {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 20px;
    font-size: 1.1rem;
  }
  
  .text-modal-close-btn{
    background-color: var(--color5);
    cursor: pointer;
  }

  .edit-comment-text{
    width: 100%;
    margin-top: 2rem;
    background-color: var(--primaryColor-200);
    resize: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.2rem;

  }